body{
    background-color: #55c8f7;
}

.container{
    display: flex;
    justify-content: center;
}

.icon{
    text-decoration: none;
    width: 50px;
    height: 50px;
    background-color: #53caf5;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 
    5px 5px 10px #4ab4e6,
    -5px -5px 10px #61d6ff;
    margin-left: 10px;
}

.icon:focus{
    animation: shadow .15s
    ease-in-out;
}

@keyframes shadow{
    0%{
        box-shadow: 
        inset 5px 5px 10px #4ab4e6,
        inset 5px -5px 10px #61d6ff;
    }
    100% {
        box-shadow: none;
    }
}